.sample_body{
}

.file_info {
    padding-top: 2rem;
}
.donut_chart{
    display: inline-block;
    background-color: #20c997;
    border-radius: 100%;
    padding: 2rem;
    font-size: 4rem;
    margin-right: 2rem;
}
.white_donut{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 100%;
}
.chart_contents{
    color: #000000;
}
.file_contents{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}
.file_contents > tbody > tr >td{
    padding-right: 15px;
    font-size: 30px;
}
.file_name{
    font-size: 1.8rem;
    font-weight: bold;
}
.file_meta{
    list-style: none;
    font-size: 1.8rem;
}

.data_tabs{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.tab_contents{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    overflow-y: scroll;
}
.contents_title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: BMDOHYEON;
    font-weight: bold;
    background: linear-gradient(to left, #8800ff 40%, #00f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contents_title_strange{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: BMDOHYEON;
    font-weight: bold;
    background: linear-gradient(to left, #8800ff 40%, #c90097 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.under_line{
    border-width: 2px;
    width: 80%;
}
.full_accordion{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

}
.each_function{
    background: rgb(226,209,255);
    background: linear-gradient(180deg, rgb(232, 218, 255) 0%, rgba(215,228,255,1) 52%, rgba(255,255,255,1) 100%);
    padding: 0.7rem 0 0.7rem 0;
}
.each_function_strange{
    background: rgb(226,209,255);
    background: linear-gradient(180deg, rgb(255, 218, 253) 0%, rgb(234, 215, 255) 52%, rgb(255, 255, 255) 100%);
    padding: 0.7rem 0 0.7rem 0;
}
.function_hash{
    display: inline-block;
    font-size: 25px;
    text-align: left;
}
.result-button-contain{
    display: inline-block;
}
.result-button{
    color: white;
    font-size: 1.5rem;
    background-color: #6a1fc1;
    padding:0.3rem 1rem 0.3rem 1rem;
    border-radius: 10px;
    font-family: BMDOHYEON;
    text-align: center;
}

.modal-content-size{
    width: 80% !important;
    height: 80% !important;
    margin: 0 auto;
}
.reportImg{

    display: inline-block;
}
.report_result_img{
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;

}
.progress-bar.bg-ben{
    width: 50%;
    background-color: #20c997;
}
.progress-bar.bg-mal{
    width: 50%;
    background-color: #ff2b99;
}
@media (min-width: 576px){
    .modal-dialog{
        max-width: 2000px !important;
        margin: 0 auto;
    }

}
result-download{
    text-align: right !important;
    width: 100%;
}
result-button-rignt{
    width: 5rem;
    margin-left: 90%;
}
.gradient-table{
    margin: 20px auto 20px auto!important;
    width: 80%!important;
}
.gradient-table >tr > th{
    vertical-align: middle;
}
.zoomin-btn{
    background: none;
    border: none;
}
.taget_title{
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
}
.card.full_accordion{
    border: none;
}
.modal-head-title{
    background: linear-gradient(103deg, rgba(112,101,238,1) 0%, rgba(116,33,184,1) 45%, rgba(92,0,165,1) 100%);
    padding: 0;
}
.close-btn-white >span{
    color: #ffffff;
}
.mal-ben-percentage{
    width: 100%;
}
.part-ben{
    text-align: left;
}
.part-mal {
    text-align: right;
}
.similary-result-table{
    margin-top: 1rem;
}
.gradient-img{
    max-width: 400px;
    overflow-x: scroll;
}
.gradient-img::-webkit-scrollbar{
    display: none;
}
.mnemonic-scroll{
    max-height: 600px;
    margin: 0 auto;
    overflow-y: scroll;
}
.sim-stran-tab{
    width: 80%;
    margin: 0 auto;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #5039d2!important;
    font-size: 1.5rem;
    font-family: BMDOHYEON;

}
.tab-style > .active{
    background-color: #5039d2 !important;
    color: white!important;
}
.tab-style{
    font-size: 1.5rem;
    color: #5039d2;
    font-family: BMDOHYEON;
}
.balloon-table{
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0!important;
}
.accordion_head{
    border: none;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
.acco_header_title{
    display: inline-block;
}

.card-body{
    margin: 0 auto;
}
.card-width{
    width: 75%;
}
.string-search-input{
    display: inline-block;
}
.string-search-button{
    display: inline-block;
}

.string-list-scroll{
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    border-right: 2px solid #d4d4d4;
}
.string-list-scroll::-webkit-scrollbar{
    display: none;
}
.string-list{
    font-size: 25px;
}
.search-table-font{
    font-size: 30px;
    font-weight: bold;
}
.search-input{
    height: 50px;
    width: 300px;
    border: solid 2px #a8aaac;
}
.search-button{
    height: 50px;
}
.string-ben-donut{
    margin: 20px;
}
.string-donut-table{
    width: 80%;
    margin: 0 auto;
}
.string-donut-table > thead > tr >th{
    font-size: 27px;
}
.cloud-done-icon{
    margin-right: 10px;
}
.string-search-part{
    margin: 20px 0 20px 0;
}
.card{
    border: none!important;
}
.function-donut-table{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff!important;
}
.function-donut-table >thead > tr > th{
    background-color: #ffffff;
}
.function-donut-table >tbody> tr >td{
    background-color: #ffffff;
}
.dropdown-icon{
    margin-left: 10px;
}
.dropdown-icon > h5 >span{
    font-size: 30px;
    vertical-align: middle;
    color: #7c00d4;
}
.dropdown-icon-strange{
    margin-left: 10px;
}
.dropdown-icon-strange > h5 >span{
    font-size: 30px;
    vertical-align: middle;
    color: #c90097;
}
.homebutton{
    position : fixed;
    bottom:20px; right: 20px;
}
.homebutton > a > span{
    color: #3a3e47;
    font-size: 60px;
    font-weight: bold;
}
.similary-table > thead > tr > th{
    font-size: 25px;
}
.similary-table >tbody > tr > th,td{
    font-size: 20px;
}
.similary-distance{
    color: #7c00d4;
}
.compare-taget{
    padding: 0 20px 0 0!important;
}
.search_table >thead > tr >th{
    color: #ffffff;
    padding: 5px 0 5px 0;
}
.search_table >thead >tr{
    background-color: rgba(151, 130, 205, 0.78);
    border-radius: 30px;
}
.donut-container{
    width: 500px;
    height: auto;
}
.horizontalbar-css{
    height: 300px;
    width: auto;
}
.amountdatachart{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 0;
}