.sample_body{
}

.file_info {
    padding-top: 2rem;
}
.donut_chart{
    display: inline-block;
    background-color: #20c997;
    border-radius: 100%;
    padding: 2rem;
    font-size: 4rem;
    margin-right: 2rem;
}
.white_donut{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 100%;
}
.chart_contents{
    color: #000000;
}
.file_contents{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.file_name{
    font-size: 1.8rem;
    font-weight: bold;
}
.file_meta{
    list-style: none;
    font-size: 1.5rem;
}

.data_tabs{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.tab_contents{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    overflow-y: scroll;
}
.contents_title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: BMDOHYEON;
    font-weight: bold;
    background: linear-gradient(to left, #ff00bf 40%, #00f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.under_line{
    border-width: 2px;
    width: 70%;
}
.full_accordion{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

}
.each_function{
    background: rgb(221,238,255);
    background: linear-gradient(103deg, rgba(221,238,255,1) 0%, rgba(246,223,255,1) 50%, rgba(228,230,255,1) 100%);    padding: 0.7rem 0 0.7rem 0;
}
.function_hash{
    display: inline-block;
    font-size: 1.5rem;
    text-align: left;
}
.result-button-contain{
    display: inline-block;
}
.result-button{
    color: white;
    font-size: 1.5rem;
    background-color: #6a1fc1;
    padding:0.3rem 1rem 0.3rem 1rem;
    border-radius: 10px;
    font-family: BMDOHYEON;
    text-align: center;
}
