.balloon {
    border: 3px solid black;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin-left: 40px;
    margin-top: 100px;
}

.mal {
    background-color: #b53737;
}

.ben {
    background-color: green;
}