#scroll-view-innerDialog{
    width: 200px;
    overflow-y: scroll;
    height: 100px;
}

#dialogStylesInner {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%,0%);
    z-index: 999;
    background-color:#eee;
    padding:10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#diaglogCloseButtonStylesInner {
    margin-bottom: 15px;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-start;
}