.upload-page {
    height:100%;
}

.vertical-element {
    margin-top: 50px;
}
  
.vertical-center {
    display: flex;
    align-items: center;
}
  
.button {
    border-radius: 20px;
}
  
#drop-area {
    border-radius: 100px;
    font-family: sans-serif;
    height: 400px;
}
  
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
    background-color: gray;
}

.scroll-view {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 250px;
}